

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="listing-container">
    <div class="col-md-6 offset-md-3 pt-3 mb-4">
      <h2 id="listing-title">Edit your profile</h2>
      <div class="row-listing-form">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :first_name,
                  required: true,
                  input_html: { autocomplete: "first_name" }%>
    <%= f.input :last_name,
                  required: true,
                  input_html: { autocomplete: "last_name" }%>
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :photo, input_html: { class: 'hidden'}, label_html: { class: 'upload-photo'}, label: ' Upload a photo'%>
    <%= f.input :photo_cache, as: :hidden %>
  <div class="row-listing-form">
    <%= f.button :submit, "Update", class: 'edit-profile' %>
    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn edit-profile' %>
    <%= link_to "Back", :back, class: 'btn edit-profile' %>
  </div>
    </div>
  </div>
<% end %>
