<div style="background-color: white">
  <div class="listing-container pb-3" style="color: black">
    <div class="col-md-8 offset-md-2">
      <div class="listing-row">
        <h2 id="listing-title" style="color: blue">Flight Information</h2>
        <div class="row-listing-form">
          <div class="card auto-margined w-75" style="border-style: none;">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title" style="margin-bottom: auto;"><%= @departure %> to <%= @arrival %></h5>
              <h6 class="card-subtitle mb-2 text-muted" style="margin-top: auto;"> hello</h6>
            </div>
            <div class="d-flex justify-content-between">





            <div class="p-4"><p><%= "#{@departure[0..2].upcase}"%></p></div>
            <div class="p-4"><div style="width: 32px"><%= image_tag "https://image.flaticon.com/icons/svg/149/149444.svg" %></div></div>
            <div class="p-4"><p><%= "#{@arrival[0..2].upcase}"%></p></div>














            </div>
          </div>
        </div>
        <%= simple_form_for(@booking) do |f|%>
          <div class="d-flex justify-content-center">
            <div class="form-group w-50 mr-5">
              <label for="departure" style="color: black;">Departure Date</label>
              <input type="text" readonly="readonly" name="departure_date" class="form-control booking-form" id="depart-date">
            </div>
            <div class="form-group w-50">
              <label for="arrival" style="color: black;">Return Date</label>
              <input type="text" readonly="readonly" name="return_date" class="form-control booking-form" id="return-date">
            </div>
          </div>

          <%= f.input :flight_number, input_html: { value: "SQ352", readonly: true, class: 'booking-form' } %>
          <%= f.input :booking_class, input_html: { value: "Business", readonly: true, class: 'booking-form' } %>
          <%= f.input :arrival_time, input_html: { value: "07:40hrs", readonly: true, class: 'booking-form' } %>
          <%= f.input :departure_time, input_html: { value: "17:40hrs", readonly: true, class: 'booking-form' } %>
          <%= f.input :departure, input_html: {value: @departure, readonly: true, class: 'booking-form' } %>
          <%= f.input :arrival, input_html: {value: @arrival, readonly: true, class: 'booking-form' } %>
          <h2 id="listing-title" style="color: blue">Passenger Information</h2>
          <%= simple_fields_for :passenger do |o| %>
           <div class="form-group w-100">
            <label for="passenger_first_name">First / Given name (as in passport)</label>
            <%= o.input :first_name, label: false, input_html: { class: 'booking-form'} %>
            <label for="passenger_last_name">Last name/ Family name (as in passport)</label>
            <%= o.input :last_name, label: false, input_html: { class: 'booking-form'} %>
            <%= o.input :birth_date, as: :date, html5: true, input_html: {id: 'birth-date', class: 'booking-form'} %>
          <% end %>

          <!-- <input type="text" name="passenger_name">
          <input type="text" name="passenger_name2">
          <input type="text" name="passenger_name3"> -->
<!--           <div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-Passenger 1-tab" data-toggle="pill" href="#v-pills-Passenger 1" role="tab" aria-controls="v-pills-Passenger 1" aria-selected="true">Passenger 1</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-Passenger 2" aria-selected="false">Passenger 2</a>
      <a class="nav-link" id="v-pills-Passenger 3-tab" data-toggle="pill" href="#v-pills-Passenger 3" role="tab" aria-controls="v-pills-Passenger 3" aria-selected="false">Passenger 3</a>
      <a class="nav-link" id="v-pills-Passenger 4-tab" data-toggle="pill" href="#v-pills-Passenger 4" role="tab" aria-controls="v-pills-Passenger 4" aria-selected="false">Passenger 4</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-Passenger 1" role="tabpanel" aria-labelledby="v-pills-Passenger 1-tab">...</div>
      <div class="tab-pane fade" id="v-pills-Passenger 2" role="tabpanel" aria-labelledby="v-pills-Passenger 2-tab">...</div>
      <div class="tab-pane fade" id="v-pills-Passenger 3" role="tabpanel" aria-labelledby="v-pills-Passenger 3-tab">...</div>
      <div class="tab-pane fade" id="v-pills-Passenger 4" role="tabpanel" aria-labelledby="v-pills-Passenger 4-tab">...</div>
    </div>
  </div>
</div> -->



          <div class="d-flex justify-content-between">
          <%= link_to "Back to Flight Search", miles_profiles_path(departure: @places[0], arrival: @places[1]), class: "btn btn-outline-primary" %>
          <%= f.button :submit, "Make Booking Request", class: "btn btn-outline-primary" %>
          <%#= link_to "Make a Booking Request", payment_path(payment), class: "btn btn-outline-primary"  %>
          </div>
       </div>
    <% end %>
      </div>
    </div>
  </div>
</div>


