


<p>flight number: <%= @booking.flight_number %></p>
<p>departure airport: <%= @booking.departure %></p>
<p>arrival airport: <%= @booking.arrival %></p>
<p>departure_date: <%= @booking.departure_date %></p>
<p>return_date: <%= @booking.return_date %></p>
<p>price: <%= @booking.price %></p>
<p>status: <%= @booking.status %> </p>
<p>ticket_received: <%= @booking.ticket_received %></p>
<p>amount_of_miles: <%= @booking.amount_of_miles %></p>
