<div class="fixed-top">
<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo"><%= link_to "Miles", root_path, class: 'our-logo' %> <span style="color:#ffd500; font-size: 27px;">X</span></a>
    </div>
    <% if user_signed_in? %>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
            <li><%= link_to "Sell Miles", new_miles_profile_path, class:"nav-css" %></li>
            <!-- <li><a class="nav-css">Explore</a></li> -->
            <li>
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><%= link_to "Dashboard", dashboard_path %></li>
                        <li class="uk-nav-divider"></li>
                        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <% else %>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#modalLogIn">Log In</button>

          <!-- Modal -->
          <div class="modal fade" id="modalLogIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalLogInLabel">Welcome to MilesX</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="errors"></div>
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
                    <div class="form-inputs">
                      <%= f.input :email,
                                  required: false,
                                  autofocus: true,
                                  input_html: { autocomplete: "email" } %>
                      <%= f.input :password,
                                  required: false,
                                  input_html: { autocomplete: "current-password" } %>
                      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                    </div>
                  </div>
                <div class="modal-footer">
                  <%= f.button :submit, "Log in", class:  "btn btn-primary "%>
                  <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'link-forgot-password' %>
                </div>
                  <% end %>
              </div>
            </div>
          </div>
           <!-- Button trigger modal -->
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#modalSignUp">Sign Up</button>

          <!-- Modal -->
          <div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Welcome to MilesX</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for(:user, url: user_registration_path, method: :post) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs">
                      <%= f.input :email,
                                  required: true,
                                  autofocus: true,
                                  input_html: { autocomplete: "email" }%>
                      <%= f.input :first_name,
                                  required: true,
                                  input_html: { autocomplete: "first_name" }%>
                      <%= f.input :last_name,
                                  required: true,
                                  input_html: { autocomplete: "last_name" }%>
                      <%= f.input :birth_date, label: "Date of Birth", as: :date, start_year: Time.now.year - 90, end_year: Time.now.year - 8, order: [:day, :month, :year],
                                  required: true
                                                                           %>
                      <%= f.input :password,
                                  required: true,
                                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                  input_html: { autocomplete: "new-password" } %>
                      <%= f.input :password_confirmation,
                                  required: true,
                                  input_html: { autocomplete: "new-password" } %>
                    </div>
                </div>
                <div class="modal-footer">
                  <div class="form-actions">
                    <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
                  </div>
                </div>
                  <% end %>
              </div>
            </div>
          </div>
        </ul>
      </div>
    <% end %>
</nav>
</div>


