<div class="welcome-message">
  <h1>Hello, <%= @user.first_name %>!</h1>
</div>
<!-- do not remove lines 5-18, very important so bootstrap tabs work -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home" aria-selected="true">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="booking-tab" data-toggle="tab" href="#booking" role="tab" aria-controls="booking" aria-selected="false">Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="miles-tab" data-toggle="tab" href="#miles" role="tab" aria-controls="miles" aria-selected="false">Miles Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="false">Requests</a>
  </li>
</ul>
<!--              end of bootstrap tab ul class             -->
<div class="tab-content" id="myTabContent">
<!--   this line is the start of profile tab on dashboard -->
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="user-profile">
      <div class="user-photo">
        <div class="profile-avatar">
          <%= cl_image_tag current_user.photo %>
        </div>
        <div class="profile-button">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"purple-btn"  %>
        </div>
      </div>
      <div class="user-info">
        <h5> First name</h5>
        <p><%= current_user.first_name %></p>
        <h5> Last name</h5>
        <p><%= current_user.last_name %></p>
        <h5>Birth date</h5>
        <p><%= current_user.birth_date %></p>
        <h5>Email</h5>
        <p><%= current_user.email %></p>
      </div>
    </div>
  </div>
<!--   this line is the end of profile tab on dashboard -->
  <!-- this is the start of bookings tab on dashboard -->
  <div class="tab-pane fade" id="booking" role="tabpanel" aria-labelledby="booking-tab">
    <div class="bookings-container">
  <!--   this is the end of booking tab on dashboard -->
      <div class="">
        <% @user.bookings.each do |booking| %>
            <div class="list-group-item list-group-item-action p-4">
              <div class="row">
                <div class="col-lg-4 align-self-center mb-4 mb-lg-0">
                  <div class="d-flex align-items-center mb-3">
                    <h2 class="h5 mb-0">From <%= booking.departure %> to <%= booking.arrival %></h2>
                  </div>
                  <p class="text-sm text-muted"><%= booking.flight_number %></p><span class="badge badge-pill p-2 badge-secondary-light">Booking Status: <%= booking.status.capitalize %></span>
                </div>
                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 py-3 mb-3 mb-lg-0">
                      <h6 class="label-heading">Class</h6>
                      <p class="text-sm font-weight-bold"><%= booking.seat_class %></p>
                      <h6 class="label-heading">Passenger(s) </h6>
                      <p class="text-sm font-weight-bold mb-0">1</p>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 py-3">
                      <h6 class="label-heading">Depart Date</h6>
                      <p class="text-sm font-weight-bold"><%= booking.departure_date %></p>
                      <h6 class="label-heading">Return Date</h6>
                      <p class="text-sm font-weight-bold mb-0"><%= booking.return_date %></p>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 py-3">
                      <h6 class="label-heading">Total</h6>
                      <p class="text-sm font-weight-bold">$<%= booking.price %>                                        </p>
                      <h6 class="label-heading">Ticket</h6>
                      <% if booking.ticket_received %>
                      <a href="<%= cl_image_path booking.request.photo %> "target= "blank">
                        <p class="text-sm font-weight-bold mb-0">Download</p>
                      </a>
                       <% else %>
                      <p class="text-sm font-weight-bold mb-0">Unavailable</p>
                      <% end %>
                    </div>
                    <div class="col-12 col-lg-3 align-self-center">
                      <% if booking.status == 'confirmed' %>
                      <span class="text-primary text-sm text-uppercase"><i class="fa fa-check fa-fw mr-2"> </i>Confirmed</span>
                      <br class="d-none d-lg-block">
                        <% if DateTime.now.to_date == booking.departure_date %>
                          <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0"><i class="fas fa-dollar-sign fa-fw mr-2"> </i>Paid</span>
                        <% else %>
                          <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0"><i class="fas fa-dollar-sign fa-fw mr-2"> </i>Payment on hold</span>
                        <% end %>
                      <% elsif booking.status == 'declined' %>
                      <span class="text-primary text-sm text-uppercase"><i class="fa fa-times fa-fw mr-2"> </i>Declined</span>
                      <br class="d-none d-lg-block">
                      <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0"><i class="fas fa-dollar-sign fa-fw mr-2"> </i>Refunded</span>
                      <% else %>
                      <span class="text-primary text-sm text-uppercase"><i class="fas fa-clock fa-fw mr-2"> </i>Pending</span>
                      <br class="d-none d-lg-block">
                        <% if DateTime.now.to_date == booking.departure_date %>
                          <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0"><i class="fas fa-dollar-sign fa-fw mr-2"> </i>Paid</span>
                        <% else %>
                          <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0"><i class="fas fa-dollar-sign fa-fw mr-2"> </i>Payment on hold</span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <!--     end of row that contains bookings details -->
    </div>
  </div>
  <!-- end of bookings table -->
<!--   this is the start of miles profile tab on dashboard -->
  <div class="tab-pane fade" id="miles" role="tabpanel" aria-labelledby="miles-tab">
    <div class="miles-container">
      <% if @miles_profile %>
        <div class="miles-profile-card">
        <!--  <#% if @miles_profile.id == @miles_profile.user.id ? %> -->
        <h2> <%=@user.first_name %>'s current miles:</h2>
        <div class="miles-profile-info">
        <span><strong>Your program:</strong> <%= @miles_profile.programme %></span>
        <span><strong>Miles remaining:</strong> <%= @miles_profile.amount %> Miles</span>
        <span><strong>Rate:</strong> $<%= @miles_profile.price %>/1000 miles</span><br>
        <%= link_to "Edit", edit_miles_profile_path(@miles_profile.id), class:"edit-miles-btn" %>
        </div>
      </div>
      <% else %>
        <p>You don't have any Miles Account</p>
      <% end %>
    </div>
  </div>
<!--   this is the end of miles profile tab on dashboard -->
  <!-- this is the start of request tab on dashboard -->
  <div class="tab-pane fade" id="request" role="tabpanel" aria-labelledby="request-tab">
    <div class="requests-container">
      <% if @user.requests.any? %>
        <% @user.requests.each do |request| %>
        <% unless request.nil? %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Departure City:</strong> <%= request.booking.departure %></li>
          <li class="list-group-item"><strong>Arrival city:</strong> <%= request.booking.arrival %></li>
          <li class="list-group-item"><strong>Departure date:</strong> <%= request.booking.departure_date %></li>
          <li class="list-group-item"><strong>Return date:</strong> <%= request.booking.return_date %></li>
          <li class="list-group-item"><strong>Amount of miles:</strong> <%= request.booking.amount_of_miles %></li>
          <li class="list-group-item"><strong>Price:</strong> <%= request.booking.price %></li>
          <li class="list-group-item"><strong>Confirmation/See Request:</strong>
          <%= request.confirmed %><br>
          <% if request.confirmed == "pending" %>
              <%= link_to "Accept", accept_booking_path(request), class: "btn-accept", method: :post  %>
              <%= link_to "Decline", decline_booking_path(request), class: "btn-decline", method: :post %>
          <% elsif request.confirmed == "confirmed" %>
              <%= link_to "see full request", booking_path(request.booking), class: 'btn-see-booking' %>
            </li><br>
          <% end %>
        </ul>
        <% end %>
        <% end %>
      <% else %>
      <% end %>
    </div>
  </div>
<!-- this is the end of request tab on dashboard -->
</div>



