<div class="d-flex justify-content-left">
  <h1>Dashboard</h1>
</div>
<!-- do not remove lines 5-18, very important so bootstrap tabs work -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home" aria-selected="true">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="booking-tab" data-toggle="tab" href="#booking" role="tab" aria-controls="booking" aria-selected="false">Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="miles-tab" data-toggle="tab" href="#miles" role="tab" aria-controls="miles" aria-selected="false">Miles Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="false">Requests</a>
  </li>
</ul>
<!--              end of bootstrap tab ul class             -->
<div class="tab-content" id="myTabContent">
<!--   this line is the start of profile tab on dashboard -->
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="user-profile">
      <div class="user-photo">
        <div class="profile-avatar">
          <%= cl_image_tag current_user.photo %>
        </div>
        <div class="profile-button">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"purple-btn"  %>
        </div>
      </div>
      <div class="user-info">
        <h5> First name</h5>
        <p><%= current_user.first_name %></p>
        <h5> Last name</h5>
        <p><%= current_user.last_name %></p>
        <h5>Birth date</h5>
        <p><%= current_user.birth_date %></p>
        <h5>Email</h5>
        <p><%= current_user.email %></p>
      </div>
    </div>
  </div>
<!--   this line is the end of profile tab on dashboard -->
<!-- this is the start of bookings tab on dashboard -->
  <div class="tab-pane fade" id="booking" role="tabpanel" aria-labelledby="booking-tab">
    <div class="bookings-container">
      <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row mb-5">
          <div class="mr-3">
            <p class="mb-3 mb-lg-0"><%= @user.first_name %>, here are your bookings history.</p>
          </div>
        </div>
      <div class="list-group shadow mb-5">
        <% @user.bookings.each do |booking| %>
            <div class="list-group-item list-group-item-action p-4" style="cursor: pointer;">
              <div class="row">
                <div class="col-lg-4 align-self-center mb-4 mb-lg-0">
                  <div class="d-flex align-items-center mb-3">
                    <h8 class="h8 mb-0">From <%= booking.departure %> to <%= booking.arrival %></h8>
                  </div>
                  <p class="text-sm text-muted"><%= booking.flight_number %></p><span class="badge badge-pill p-2 badge-secondary-light">Booking Status: <%= booking.status.capitalize %></span>
                </div>
                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 py-3 mb-3 mb-lg-0">
                      <h6 class="label-heading">Class</h6>
                      <p class="text-sm font-weight-bold"><%= booking.seat_class %></p>
                      <h6 class="label-heading">Passenger(s) </h6>
                      <p class="text-sm font-weight-bold mb-0">1</p>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 py-3">
                      <h6 class="label-heading">Depart Date</h6>
                      <p class="text-sm font-weight-bold"><%= booking.departure_date %></p>
                      <h6 class="label-heading">Return Date</h6>
                      <p class="text-sm font-weight-bold mb-0"><%= booking.return_date %></p>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 py-3">
                      <h6 class="label-heading">Total</h6>
                      <p class="text-sm font-weight-bold">$<%= booking.price %>                                        </p>
                      <h6 class="label-heading">Ticket</h6>
                      <% if booking.ticket_received %>
                      <a href="<%= cl_image_path booking.request.photo %> "target= "blank">
                        <p class="text-sm font-weight-bold mb-0">Download</p>
                      </a>
                       <% else %>
                      <p class="text-sm font-weight-bold mb-0">Unavailable</p>
                      <% end %>
                    </div>
                    <div class="col-12 col-lg-3 align-self-center">
                      <% if booking.status == 'confirmed' %>
                      <span class="text-primary text-sm text-uppercase"><i class="fa fa-check fa-fw mr-2"> </i>Confirmed</span>
                      <br class="d-none d-lg-block">
                        <% if DateTime.now.to_date > booking.departure_date && booking.ticket_received == 'true' %>
                          <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0"><i class="fas fa-dollar-sign fa-fw mr-2"> </i>Paid</span>
                        <% else %>
                          <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0"><i class="fas fa-dollar-sign fa-fw mr-2"> </i>Payment on hold</span>
                        <% end %>
                      <% elsif booking.status == 'declined' %>
                      <span class="text-primary text-sm text-uppercase"><i class="fa fa-times fa-fw mr-2"> </i>Declined</span>
                      <br class="d-none d-lg-block">
                      <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0"><i class="fas fa-dollar-sign fa-fw mr-2"> </i>Refunded</span>
                      <% else %>
                      <span class="text-primary text-sm text-uppercase"><i class="fas fa-clock fa-fw mr-2"> </i>Pending</span>
                      <br class="d-none d-lg-block">
                        <% if DateTime.now.to_date > booking.departure_date && booking.ticket_received == 'true' %>
                          <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0"><i class="fas fa-dollar-sign fa-fw mr-2"> </i>Paid</span>
                        <% else %>
                          <span class="text-primary text-sm text-uppercase mr-4 mr-lg-0"><i class="fas fa-dollar-sign fa-fw mr-2"> </i>Payment on hold</span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <!--     end of row that contains bookings details -->
    </div>
  </div>
  <!-- end of bookings table -->


<!--   this is the start of miles profile tab on dashboard -->

  <div class="tab-pane fade" id="miles" role="tabpanel" aria-labelledby="miles-tab">

      <div class="row justify-content-center">
      <% if @miles_profile %>
        <div class="col-lg-6 align-self-center mb-4 mb-lg-0 mt-3">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="font-weight-semi-bold mb-0"><%=@user.first_name %>'s current miles:</h5>
            </div>

            <div class="card-body p-0">
              <div class="row align-items-center justify-content-between p-3 px-md-4 mx-0">
                <div class="col-sm-auto col-md px-0 pr-sm-3">
                  <%= image_tag "airline_logos/EK.png", alt: "alttext", class: "rounded-circle mr-2", style: 'width: 20px' %><%= @miles_profile.programme %>
                </div>

                <div class="col-md text-md-right pt-1 pt-md-0 px-0 pl-md-3">
                  <strong class="d-md-block font-weight-normal"><%= @miles_profile.amount %> Miles</strong>
                  <small class="text-muted ml-3 ml-md-0">$<%= @miles_profile.price %>/1000 miles</span></small>
                </div>
              </div>

              <div class="row align-items-center justify-content-between border-top p-3 px-md-4 mx-0">
                <div class="col-sm-auto col-md px-0 pr-sm-3">
                  <%= image_tag "airline_logos/SQ.png", alt: "alttext", class: "rounded-circle mr-2", style: 'width: 20px' %>Singapore KrisFlyer
                </div>

                <div class="col-md text-md-right pt-1 pt-md-0 px-0 pl-md-3">
                  <strong class="d-md-block font-weight-normal">250000 Miles</strong>
                  <small class="text-muted ml-3 ml-md-0">$18/1000 miles</small>
                </div>
              </div>

              <div class="profile-button">
               <%= link_to "Add / Edit Miles Programmes", edit_miles_profile_path(@miles_profile.id)  %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <p>You don't have any Miles Account</p>
      <% end %>
    </div>
          <!-- End Card -->
  </div>
<!--   this is the end of miles profile tab on dashboard -->

<!-- this is the start of request tab on dashboard -->
  <div class="tab-pane fade" id="request" role="tabpanel" aria-labelledby="request-tab">
    <div class="d-flex justify-content-center pt-3">
      <p>You have <strong><%= @user.requests.count %> order requests</strong>, accept or decline within 48 hours.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 order-lg-1">
      <div class="card" id="request-card">
        <!-- Card header -->
        <div class="card-header actions-toolbar border-0">
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <h3 class="d-inline-block mb-0"><strong>Booking Requests</strong> </h3>
            </div>
            <div class="col text-right d-flex justify-content-end">
              <div class="actions d-flex"><a href="#" class="action-item mr-3" data-action="search-open" data-target="#actions-search"><i class="fas fa-search"></i></a>
                <div class="dropdown mr-3">
                  <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 25px, 0px);">
                    <a class="dropdown-item" href="#">
                      Newest
                    </a>
                    <a class="dropdown-item" href="#">
                      From A-Z
                    </a>
                    <a class="dropdown-item" href="#">
                      From Z-A
                    </a>
                  </div>
                </div>
                <div class="dropdown" data-toggle="dropdown">
                  <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-170px, 25px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a href="#" class="dropdown-item">Refresh</a>
                    <a href="#" class="dropdown-item">Manage Widgets</a>
                    <a href="#" class="dropdown-item">Settings</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Table -->
        <div class="table-responsive">
          <table class="table table-hover align-items-center">
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Order ID</th>
                <th scope="col">Miles Required</th>
                <th scope="col">Total Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody style="cursor: pointer;">
              <% if @user.requests.any? %>
                <% @user.requests.each do |request| %>
                <% unless request.nil? %>
              <tr>
                <th scope="row">
                  <span class="badge badge-pill badge-soft-success"><%= request.confirmed.capitalize %></span>
                </th>
                <td>
                  <i class="far fa-calendar-alt mr-2"></i>
                  <span class="h6 text-sm"><%= request.created_at.to_date %></span>
                </td>
                <td>#<%= request.booking_id %></td>
                <td><i class="far fa-credit-card mr-2"></i><%= request.booking.amount_of_miles %> <%= @miles_profile.programme %></td>
                <td>$<%= request.booking.price %> USD</td>
                <td class="text-right">
                  <div class="actions">
                    <div class="dropdown">
                      <a class="action-item" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <% if request.confirmed == "pending" %>
                          <%= link_to accept_booking_path(request), method: :post, html: { class: "dropdown-item" }   do %>
                            <i class="fas fa-check d-flex justify-content-center"></i>
                          <% end %>
                          <%= link_to decline_booking_path(request), method: :post, html: { class: "dropdown-item" }   do %>
                            <i class="fas fa-times d-flex justify-content-center"></i>
                          <% end %>
                        <% elsif request.confirmed == "confirmed" %>
                          <%= link_to booking_path(request.booking), method: :get, html: { class: "dropdown-item" }   do %>
                            <i class="fas fa-info d-flex justify-content-center"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <% end %>
              <% end %>
            <% else %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- this is the end of request tab on dashboard -->
</div>



