<div class="container">
  <div class="card"></div>
<h1>Flights from <%= @departure %> to <%= @arrival %></h1>

<div class="row">
  <% @results.each do |result| %>
    <div class="col-4">
      <div class="flight_options">
        <p class="text-underline"><%= result["prog_name"] %></p>
        <% result['rates'].each do |rate| %>
            <p><%= rate['label'] %>: <%= rate['rate'] %></p>
            <p><%= rate['connection'] %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
