<div class="trip-container">
<div class="filter-box">
  <h2 style="width: max-content;">this is for filter bar</h2>
</div>
<!-- this is where card trip info start -->
<div class="uk-flex uk-flex-column"></div>
  <div class="uk-grid-small" uk-grid>
        <% @results.each do |result| %>
        <div class="card w-75" style="border-style: none;">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title" style="margin-bottom: auto;"><%= @departure %> to <%= @arrival %></h5>
              <h6 class="card-subtitle mb-2 text-muted" style="margin-top: auto;"><%= result["prog_name"] %></h6>
            </div>
            <div class="card-body">
    <!--      this is start of radio button 1       -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  <a id="radio-black"><%= result['rates'][0]['label'].strip %></a>
                  <p id="radio-black"><%= result['rates'][0]['rate'].strip %> Miles | $1200</p>
                </label>
              </div>
    <!--           this is the end of radio button 1 -->
    <!--      this is start of radio button 2       -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
                <label class="form-check-label" for="exampleRadios2">
                  <a id="radio-black"><%= result['rates'][1]['label'].strip %></a>
                  <p id="radio-black"><%= result['rates'][1]['rate'].strip %> Miles | $3500</p>
                </label>
              </div>
    <!--           this is the end of radio button 2 -->
              <% if result['rates'][2] == nil %>
              <p id="radio-black">First class not available</p>
              <% else %>
    <!--      this is start of radio button 3       -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" checked>
                <label class="form-check-label" for="exampleRadios3">
                  <a id="radio-black"><%= result['rates'][2]['label'].strip %></a>
                  <p id="radio-black"><%= result['rates'][2]['rate'].strip %> Miles | $5000</p>
                </label>
              </div>
    <!--           this is the end of radio button 2 -->
              <% end %>
    <!--           this is the end of if else -->
              <div class="card text-right">
                <div class="btn-right">
                  <a href="#" class="btn btn-light">Book</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
  </div>
</div>
<!-- this is where card trip infos end -->
</div>


