<div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500">
  <div>
    <div class="uk-grid-column-small uk-grid-row-large" uk-grid>
      <% @results.each do |result| %>
      <div class="uk-card uk-card-default" style="margin: 50px; width: 35%;">
        <div class="uk-animation-toggle" tabindex="0">
          <div class="uk-animation-fade">
              <div class="uk-card-header">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                      <div class="uk-width-auto">
                          <img class="uk-border-circle" width="40" height="40" src="https://source.unsplash.com/ZHvM3XIOHoE">
                      </div>
                      <div class="uk-width-expand">
                          <h3 class="uk-card-title uk-margin-remove-bottom">$1500</h3>
                          <p class="uk-text-meta uk-margin-remove-top">Paul</p>
                      </div>
                  </div>
              </div>
              <div class="uk-card-body">
                <div class="miles-container">
                  <div class="fqp">
                    <%= result["prog_name"] %>
                  </div>
                  <div class="price-cards">
                    <div class="price-cards eco">
                      <p><%= result['rates'][0]['label'].strip %></p>
                      <p id="miles-pad"><%= result['rates'][0]['rate'].strip %> Miles</p>
                    </div>
                    <div class="price-cards bus">
                      <p><%= result['rates'][1]['label'].strip %></p>
                      <p id="miles-pad"><%= result['rates'][1]['rate'].strip %> Miles</p>
                    </div>
                    <% if result['rates'][2] == nil %>
                    <div class="price-cards fst">
                      <p>First class not available</p>
                    </div>
                    <% else %>
                    <div class="price-cards fst">
                      <p><%= result['rates'][2]['label'].strip %></p>
                      <p id="miles-pad"><%= result['rates'][2]['rate'].strip %> Miles</p>
                    </div>
                    <% end %>
                  </div>
                </div>
            </div>
          <div class="uk-card-footer">
            <%= link_to "Select", new_booking_path, class: "uk-button uk-button-text" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

