<div class="listing-container">
  <div class="col-md-8 offset-md-2 pb-3">
    <div class="listing-row">
    <h2 id="listing-title" style="">Start listing your miles today</h2>
    <%= simple_form_for(@miles_profile) do |m|%>
    <div class="row-listing-form">
      <p>FQ Programme</p>
      <%= m.input :programme, as: :select, collection: @program %>
      <p>How many miles do you have for sale?</p>
      <%= m.input :amount, placeholder: "e.g. 100000 miles" %>
      <p>How much do you want to charge for your miles? </p>
      <%= m.input :price, placeholder: "List your price per 1000 miles" %>
      <div class="listing-submit-row">
      <%= m.button :submit, class: "btn btn-outline-primary" %>
      </div>
   </div>
  <% end %>
    </div>
  </div>
</div>


