<div class="listing-container">
  <div class="col-md-8 offset-md-2 pb-5">
    <div class="listing-row">
    <h1 id="listing-title">Let's start earning money from extra miles!</h1>
    <%= simple_form_for(@miles_profile) do |m|%>
    <div class="row-listing-form">
      <p>FQ Programme</p>
      <%= m.input :programme, placeholder: "e.g. KrisFlyer" %>
      <p>How many miles do you want to list?</p>
      <%= m.input :amount, placeholder: "e.g. 100000 miles" %>
      <p>You are responsible for choosing the miles price.</p>
      <%= m.input :price, placeholder: "price is per 1000 miles" %>
      <div class="listing-submit-row">
      <%= m.button :submit, class: "btn-listing btn-sign-up" %>
      </div>
   </div>
  <% end %>
    </div>
  </div>
</div>
