<div class="listing-container">
  <div class="col-md-6 offset-md-3 pt-3 mb-4">
    <div class="listing-row">
    <h2 id="listing-title" style="">Have an extra or an expiring miles? Sell it with us!</h2>
    <%= simple_form_for(@miles_profile) do |m|%>
    <div class="row-listing-form">
      <%= m.input :programme, as: :select, collection: @program, :label => "FQ Programme" %>
      <%= m.input :amount, placeholder: "e.g. 100000", :label => "Miles Amount" %>
      <%= m.input :price, placeholder: "price per 1000 miles" %>
      <div class="listing-submit-row">
      <%= m.button :submit, class: "btn btn-primary" %>
      </div>
   </div>
  <% end %>
    </div>
  </div>
</div>


